# <span style = "color: green" >Gold Price Prediction</span>

***

Of all the precious metals, gold is the most popular as an investment. Investors generally buy gold as a way of diversifying risk, especially through the use of futures contracts and derivatives. The gold market is subject to speculation and volatility as are other markets. Compared to other precious metals used for investment, gold has been the most effective safe haven across a number of countries.<br><br>
The Dataset contain gold prices (in USD) from 2001 to 2019.
Our goal is to predict where the gold prices will be in the coming years

#### Import the necessary libraries

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression

#### Read 'gold_price_usd.csv' & store it in a variable

In [2]:
spark=SparkSession.builder.appName('gold_price').getOrCreate()

In [3]:
df=spark.read.csv('gold_price_usd.csv',header=True,inferSchema=True)

In [4]:
df.show()

+----------+--------+
|      Date|USD (AM)|
+----------+--------+
|2001-01-02|   272.8|
|2001-01-03|   269.0|
|2001-01-04|  268.75|
|2001-01-05|   268.0|
|2001-01-08|   268.6|
|2001-01-09|  267.75|
|2001-01-10|   266.7|
|2001-01-11|   264.8|
|2001-01-12|  263.65|
|2001-01-15|  263.35|
|2001-01-16|   264.5|
|2001-01-17|   263.1|
|2001-01-18|   264.1|
|2001-01-19|  265.75|
|2001-01-22|   266.1|
|2001-01-23|   267.1|
|2001-01-24|   265.7|
|2001-01-25|   263.6|
|2001-01-26|   264.5|
|2001-01-29|   263.1|
+----------+--------+
only showing top 20 rows

#### View the first 5 rows

In [5]:
df.head(5)

[Row(Date=datetime.date(2001, 1, 2), USD (AM)=272.8),
 Row(Date=datetime.date(2001, 1, 3), USD (AM)=269.0),
 Row(Date=datetime.date(2001, 1, 4), USD (AM)=268.75),
 Row(Date=datetime.date(2001, 1, 5), USD (AM)=268.0),
 Row(Date=datetime.date(2001, 1, 8), USD (AM)=268.6)]

#### Check the information

In [6]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- USD (AM): double (nullable = true)

#### Find the columns

In [7]:
df.columns

['Date', 'USD (AM)']

#### Rename USD (AM) to Price

In [8]:
df=df.withColumnRenamed('USD (AM)','Price')

#### Check if there are any missing values in the dataset

#### Gather the basic statistical information about the dataset

In [9]:
df.describe().show()

+-------+------------------+
|summary|             Price|
+-------+------------------+
|  count|              4718|
|   mean| 959.9908117846536|
| stddev|449.45621658549334|
|    min|             256.7|
|    max|            1896.5|
+-------+------------------+

#### Convert Date column from object to datetime format

#### Create a new column with Year

In [10]:
df1=df.withColumn('Year',df['Date'][0:4])

In [11]:
df1.show()

+----------+------+----+
|      Date| Price|Year|
+----------+------+----+
|2001-01-02| 272.8|2001|
|2001-01-03| 269.0|2001|
|2001-01-04|268.75|2001|
|2001-01-05| 268.0|2001|
|2001-01-08| 268.6|2001|
|2001-01-09|267.75|2001|
|2001-01-10| 266.7|2001|
|2001-01-11| 264.8|2001|
|2001-01-12|263.65|2001|
|2001-01-15|263.35|2001|
|2001-01-16| 264.5|2001|
|2001-01-17| 263.1|2001|
|2001-01-18| 264.1|2001|
|2001-01-19|265.75|2001|
|2001-01-22| 266.1|2001|
|2001-01-23| 267.1|2001|
|2001-01-24| 265.7|2001|
|2001-01-25| 263.6|2001|
|2001-01-26| 264.5|2001|
|2001-01-29| 263.1|2001|
+----------+------+----+
only showing top 20 rows

In [12]:
from pyspark.sql.functions import year,month

In [13]:
df=df.withColumn('Year',year(df['Date']))

In [14]:
df.show()

+----------+------+----+
|      Date| Price|Year|
+----------+------+----+
|2001-01-02| 272.8|2001|
|2001-01-03| 269.0|2001|
|2001-01-04|268.75|2001|
|2001-01-05| 268.0|2001|
|2001-01-08| 268.6|2001|
|2001-01-09|267.75|2001|
|2001-01-10| 266.7|2001|
|2001-01-11| 264.8|2001|
|2001-01-12|263.65|2001|
|2001-01-15|263.35|2001|
|2001-01-16| 264.5|2001|
|2001-01-17| 263.1|2001|
|2001-01-18| 264.1|2001|
|2001-01-19|265.75|2001|
|2001-01-22| 266.1|2001|
|2001-01-23| 267.1|2001|
|2001-01-24| 265.7|2001|
|2001-01-25| 263.6|2001|
|2001-01-26| 264.5|2001|
|2001-01-29| 263.1|2001|
+----------+------+----+
only showing top 20 rows

#### Create a new column with Months

In [15]:
df=df.withColumn('Month',month(df['Date']))

In [16]:
df.show()

+----------+------+----+-----+
|      Date| Price|Year|Month|
+----------+------+----+-----+
|2001-01-02| 272.8|2001|    1|
|2001-01-03| 269.0|2001|    1|
|2001-01-04|268.75|2001|    1|
|2001-01-05| 268.0|2001|    1|
|2001-01-08| 268.6|2001|    1|
|2001-01-09|267.75|2001|    1|
|2001-01-10| 266.7|2001|    1|
|2001-01-11| 264.8|2001|    1|
|2001-01-12|263.65|2001|    1|
|2001-01-15|263.35|2001|    1|
|2001-01-16| 264.5|2001|    1|
|2001-01-17| 263.1|2001|    1|
|2001-01-18| 264.1|2001|    1|
|2001-01-19|265.75|2001|    1|
|2001-01-22| 266.1|2001|    1|
|2001-01-23| 267.1|2001|    1|
|2001-01-24| 265.7|2001|    1|
|2001-01-25| 263.6|2001|    1|
|2001-01-26| 264.5|2001|    1|
|2001-01-29| 263.1|2001|    1|
+----------+------+----+-----+
only showing top 20 rows

#### See all the years and Months in our dataset

In [17]:
df.select('Month').distinct().show()
df.select('Year').distinct().show()

+-----+
|Month|
+-----+
|   12|
|    1|
|    6|
|    3|
|    5|
|    9|
|    4|
|    8|
|    7|
|   10|
|   11|
|    2|
+-----+

+----+
|Year|
+----+
|2003|
|2007|
|2018|
|2015|
|2006|
|2013|
|2014|
|2019|
|2004|
|2012|
|2009|
|2016|
|2001|
|2005|
|2010|
|2011|
|2008|
|2017|
|2002|
+----+

## <span style = "color: orange" >Visualization</span>

### Create a regression plot with x-axis as years and y-axis as Price

### Plot a histplot to find the variation in price

### Assign year and price in x and y variables

In [29]:

assembler = VectorAssembler(inputCols=["Year"], outputCol="YearVector")
df = assembler.transform(df)

### Split the data into traning and testin set

In [38]:
final=df.select('YearVector','Price')
final.show()

+----------+------+
|YearVector| Price|
+----------+------+
|  [2001.0]| 272.8|
|  [2001.0]| 269.0|
|  [2001.0]|268.75|
|  [2001.0]| 268.0|
|  [2001.0]| 268.6|
|  [2001.0]|267.75|
|  [2001.0]| 266.7|
|  [2001.0]| 264.8|
|  [2001.0]|263.65|
|  [2001.0]|263.35|
|  [2001.0]| 264.5|
|  [2001.0]| 263.1|
|  [2001.0]| 264.1|
|  [2001.0]|265.75|
|  [2001.0]| 266.1|
|  [2001.0]| 267.1|
|  [2001.0]| 265.7|
|  [2001.0]| 263.6|
|  [2001.0]| 264.5|
|  [2001.0]| 263.1|
+----------+------+
only showing top 20 rows

In [39]:
train_data,test_data=final.randomSplit([0.80,0.20])

In [40]:
train_data.show()

+----------+------+
|YearVector| Price|
+----------+------+
|  [2001.0]| 257.0|
|  [2001.0]| 257.3|
|  [2001.0]|257.55|
|  [2001.0]| 258.0|
|  [2001.0]| 258.1|
|  [2001.0]| 258.2|
|  [2001.0]| 258.3|
|  [2001.0]|259.05|
|  [2001.0]| 259.2|
|  [2001.0]| 259.4|
|  [2001.0]| 259.5|
|  [2001.0]|259.95|
|  [2001.0]| 260.1|
|  [2001.0]| 260.2|
|  [2001.0]| 260.2|
|  [2001.0]| 260.5|
|  [2001.0]| 260.9|
|  [2001.0]| 260.9|
|  [2001.0]| 260.9|
|  [2001.0]| 261.2|
+----------+------+
only showing top 20 rows

In [41]:
test_data.show(25)

+----------+------+
|YearVector| Price|
+----------+------+
|  [2001.0]| 256.7|
|  [2001.0]|257.05|
|  [2001.0]|258.45|
|  [2001.0]|258.95|
|  [2001.0]| 260.5|
|  [2001.0]|262.15|
|  [2001.0]| 262.8|
|  [2001.0]| 262.9|
|  [2001.0]| 262.9|
|  [2001.0]|263.35|
|  [2001.0]|263.65|
|  [2001.0]| 264.5|
|  [2001.0]|265.55|
|  [2001.0]| 266.1|
|  [2001.0]| 266.4|
|  [2001.0]| 266.4|
|  [2001.0]|266.85|
|  [2001.0]|266.85|
|  [2001.0]|266.95|
|  [2001.0]| 267.2|
|  [2001.0]| 267.5|
|  [2001.0]| 267.7|
|  [2001.0]| 268.0|
|  [2001.0]|268.75|
|  [2001.0]| 269.0|
+----------+------+
only showing top 25 rows

### Create Linear Regression Model

In [42]:
model=LinearRegression(featuresCol='YearVector',labelCol='Price')

### Train the  model

In [43]:
train_data.printSchema()

root
 |-- YearVector: vector (nullable = true)
 |-- Price: double (nullable = true)

In [44]:
test_data.printSchema()

root
 |-- YearVector: vector (nullable = true)
 |-- Price: double (nullable = true)

In [45]:
type(test_data)

pyspark.sql.dataframe.DataFrame

In [46]:
model=model.fit(train_data)

In [47]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Price: double (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- YearVector: vector (nullable = true)

### Check the coefficient and Intercept

In [48]:
model.coefficients

DenseVector([70.0621])

### Make Prediction with Test data

In [49]:
pred=model.evaluate(test_data)

In [50]:
pred.predictions.show()

+----------+------+-----------------+
|YearVector| Price|       prediction|
+----------+------+-----------------+
|  [2001.0]| 256.7|341.3434141326288|
|  [2001.0]|257.05|341.3434141326288|
|  [2001.0]|258.45|341.3434141326288|
|  [2001.0]|258.95|341.3434141326288|
|  [2001.0]| 260.5|341.3434141326288|
|  [2001.0]|262.15|341.3434141326288|
|  [2001.0]| 262.8|341.3434141326288|
|  [2001.0]| 262.9|341.3434141326288|
|  [2001.0]| 262.9|341.3434141326288|
|  [2001.0]|263.35|341.3434141326288|
|  [2001.0]|263.65|341.3434141326288|
|  [2001.0]| 264.5|341.3434141326288|
|  [2001.0]|265.55|341.3434141326288|
|  [2001.0]| 266.1|341.3434141326288|
|  [2001.0]| 266.4|341.3434141326288|
|  [2001.0]| 266.4|341.3434141326288|
|  [2001.0]|266.85|341.3434141326288|
|  [2001.0]|266.85|341.3434141326288|
|  [2001.0]|266.95|341.3434141326288|
|  [2001.0]| 267.2|341.3434141326288|
+----------+------+-----------------+
only showing top 20 rows

In [51]:
pred.meanAbsoluteError

182.50849696680402

In [52]:
pred.meanSquaredError

56351.62443104603